@import url('https://fonts.googleapis.com/css?family=Dosis:600,800');

body{
	font-family: "Dosis", sans-serif;
	font-size: 200%;
	color: #fff;
	text-shadow: 1px 1px 1px #666;
}

.navbar{
	background-color: #297fb8;
	border-bottom: 1px solid #5398c6;
	padding: 1% 0;
}

.navbar-brand{
	min-height: 55px;
	padding: 0 15px 5px;
}

.navbar-brand img{
	width: 50px;
	height: 50px;
	padding-top: 5px;  
}

.navbar-nav li{
	padding-right: 20px; 
}

.navbar-inverse .navbar-nav li a{
	color: #fff;
}

.navbar-inverse .navbar-nav li a:hover{
	color: #5398c6;
}

.navbar-header{
	padding-bottom: 5px;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{
	border-color: #5398c6;
}

.navbar-inverse .navbar-toggle{
	border-color: #5398c6;
}

.navbar-inverse .navbar-toggle:hover,.navbar-inverse .navbar-toggle:focus{
	background-color: #5398c6;
}

.banner{
	width: 100%;
}

h1{
	font-size: 3em;
	font-weight: 700;
	text-shadow: 2px 2px 2px #666;
}

h2{
	font-size: 2.1em;
}

h3{
	font-size: 1.5em;
	max-width: 80%;
	margin: 0 auto; 
}

p{
	font-size: 1.2em;
	padding-top: 1em;
}

img{
	margin: 0 auto;
}

#icon{
	max-width: 200px;
	margin: 1% auto; 
}

.social{
	font-size: 3em;
}
.social a{
	padding: 1.5em;
	color: #fff; 
}

.social a:hover{
	color: #d5d5d5;
}

#home{
	padding-top: 60px;
}

#about{
	padding: 60px auto;
	background-color: #1fb8eb;
}

#features{
	padding: 70px 0 50px;
	background-color: #ff9800;
}

#portfolio{
	padding: 70px 0 50px;
	background-color: #00b2ca;
}

#connect{
	padding-bottom: 12%;
	background-color: #673ab7;
}

#portfolio img{
	height: 150px;
	width: 150px;
	margin: 25px;
}

@media (max-width: 768px) {
	h1{
		font-size: 170%;
	}
	h2{
		font-size: 160%;
	}
	h3{
		font-size: 120%;
		max-width: 90%;
	}
	p{
		padding-top: 3%;
		font-size: 100%; 
	}
	img#code {
		max-width: 160px;
	}
	.col-sm-4 #icon{
		max-width: 110px;
	}
	#portfolio img{
	height: 100px;
	width: 100px;
	}
	.social{
	font-size: 1em;
	}
}

.row{
	margin:0; 
}













